body {
    background-color: #f2f2f2;
    margin: 0; /* remove default margins */
    overflow: hidden; /* hide overflow */
}

/* Create a container for the form */
.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    height: 100%;
    padding-bottom: 150px;
    background-color: white;
}

/* Center and fix the sign-up form on the page */
.signup-form {
flex-direction: column;
align-items: center;
flex: 1 0 auto;
width: 80%;
padding: 20px;
margin: 30px;


}

.form-label{
margin-bottom: 10px;
font-size: .875em;
font-weight: 750;
}

.fixed-bottom {
    position: absolute;
     right: 0;
     bottom: 0;
     left: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
     background-color: #efefef;
     text-align: center;
     z-index: 2;
     width: 100%;

}

.footer-menu {
  padding: 10px 0;
  display: block !important;
  justify-content: center;
  align-items: center;
  height: 75px;
  position: fixed;
  bottom: 0;
  box-shadow: 0px 16px 20px;
  background-color: white;
  width: 100%;
}

.footer-menu ul {
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-menu ul li {
  list-style: none;
}

.footer-menu ul li a {
    padding: 5px;
}

.footer-menu ul li a.active {
  background-image: url('../img/pressed@2x.svg');
  box-shadow: unset;
}

@media (max-width: 768px) {
  .fixed-bottom {
      position: fixed;
       right: 0;
       bottom: 0;
       left: 0;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
       background-color: #efefef;
       text-align: center;
  }
}
